---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "nytpu",
		"photo": "https://avatars.webmention.io/furry.engineer/b1ad86b1cfa668e0d9273b7121a3f713deaf6c5f827d203df43649f076ed7a78.png",
		"url": "https://tilde.zone/@nytpu"
	},
	"url": "https://furry.engineer/@cascade/112341493131178053#favorited-by-108280983662451826",
	"published": null,
	"wm-received": "2024-04-27T15:31:53Z",
	"wm-id": 1816663,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/112341493131178053/108280983662451826",
	"wm-target": "https://cascading.space/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/",
	"wm-property": "like-of",
	"wm-private": false
}
---