---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "lav ΘΔ",
		"photo": "https://avatars.webmention.io/furry.engineer/32ea4d839ef497cffb5ced02aa9422a605de93fd7447be4162f7da7f431f03ec.png",
		"url": "https://packmates.org/@leggylav"
	},
	"url": "https://packmates.org/@leggylav/112343782122124110",
	"published": "2024-04-27T15:01:13+00:00",
	"wm-received": "2024-04-27T15:31:52Z",
	"wm-id": 1816661,
	"wm-source": "https://brid.gy/comment/mastodon/@cascade@furry.engineer/112341493131178053/112343782183183173",
	"wm-target": "https://cascading.space/",
	"wm-protocol": "webmention",
	"content": {
		"html": "<p><span class=\"h-card\"><a href=\"https://furry.engineer/@cascade\" class=\"u-url\">@<span>cascade</span></a></span> the header font and the animations and the gradient background are rad, this is lovely <img alt=\"vlpn_happy_heart\" src=\"https://furry.engineer/system/cache/custom_emojis/images/000/039/546/original/d9486d936ec1c8ed.png\" /></p>",
		"text": "@cascade the header font and the animations and the gradient background are rad, this is lovely"
	},
	"in-reply-to": "https://cascading.space/",
	"wm-property": "in-reply-to",
	"wm-private": false
}
---