---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "brodokk",
		"photo": "https://avatars.webmention.io/furry.engineer/9c75600422c51c1b4e21424346f3c2b4f12c476a408c60ff42a918d13ecd9761.png",
		"url": "https://furry.engineer/@brodokk"
	},
	"url": "https://furry.engineer/@cascade/112341493131178053#reblogged-by-109286798288689673",
	"published": null,
	"wm-received": "2024-04-27T11:59:29Z",
	"wm-id": 1816600,
	"wm-source": "https://brid.gy/repost/mastodon/@cascade@furry.engineer/112341493131178053/109286798288689673",
	"wm-target": "https://cascading.space/",
	"wm-protocol": "webmention",
	"repost-of": "https://cascading.space/",
	"wm-property": "repost-of",
	"wm-private": false
}
---