---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Chamomile ???? ➡️ FWA",
		"photo": "https://avatars.webmention.io/furry.engineer/9b9a77a45386424f09c1c08b09173d29d35ffd7c15d4a05931e9f5cc5b4e630e.jpg",
		"url": "https://furry.engineer/@chamomile"
	},
	"url": "https://furry.engineer/@cascade/112341493131178053#favorited-by-109452614443921427",
	"published": null,
	"wm-received": "2024-04-27T06:30:17Z",
	"wm-id": 1816486,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/112341493131178053/109452614443921427",
	"wm-target": "https://cascading.space/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/",
	"wm-property": "like-of",
	"wm-private": false
}
---