---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "lav ΘΔ",
		"photo": "https://avatars.webmention.io/furry.engineer/32ea4d839ef497cffb5ced02aa9422a605de93fd7447be4162f7da7f431f03ec.png",
		"url": "https://packmates.org/@leggylav"
	},
	"url": "https://packmates.org/@leggylav/112343876909825932",
	"published": "2024-04-27T15:25:20+00:00",
	"wm-received": "2024-04-27T15:31:49Z",
	"wm-id": 1816658,
	"wm-source": "https://brid.gy/comment/mastodon/@cascade@furry.engineer/112341493131178053/112343876948934311",
	"wm-target": "https://cascading.space/",
	"wm-protocol": "webmention",
	"content": {
		"html": "<p><span class=\"h-card\"><a href=\"https://furry.engineer/@cascade\" class=\"u-url\">@<span>cascade</span></a></span> that's how it felt learning as i went as a novice, too.  fun medium to creatively explore <img alt=\"vlpn_tooth\" src=\"https://furry.engineer/system/cache/custom_emojis/images/000/144/880/original/957e5f7ecc1a8a63.png\" /></p>",
		"text": "@cascade that's how it felt learning as i went as a novice, too.  fun medium to creatively explore"
	},
	"in-reply-to": "https://cascading.space/",
	"wm-property": "in-reply-to",
	"wm-private": false
}
---