---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Cascade",
		"photo": "https://avatars.webmention.io/furry.engineer/5877ccc85cb0e8feb6580981f45bb07edc1160843f618acce9ebe216538ffefd.jpg",
		"url": "https://furry.engineer/@cascade"
	},
	"url": "https://furry.engineer/@cascade/112343844238018566",
	"published": "2024-04-27T15:17:01+00:00",
	"wm-received": "2024-04-27T15:31:53Z",
	"wm-id": 1816662,
	"wm-source": "https://brid.gy/comment/mastodon/@cascade@furry.engineer/112341493131178053/112343844238018566",
	"wm-target": "https://cascading.space/",
	"wm-protocol": "webmention",
	"content": {
		"html": "<p><span class=\"h-card\"><a href=\"https://packmates.org/@leggylav\" class=\"u-url\">@<span>leggylav</span></a></span> Thanks! It kinda felt like playing with Lego again, it was fun putting it together. There’s still lots of ideas for things to add to it too :3</p>",
		"text": "@leggylav Thanks! It kinda felt like playing with Lego again, it was fun putting it together. There’s still lots of ideas for things to add to it too :3"
	},
	"in-reply-to": "https://cascading.space/",
	"wm-property": "in-reply-to",
	"wm-private": false
}
---