---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Cascade",
		"photo": "https://avatars.webmention.io/furry.engineer/5877ccc85cb0e8feb6580981f45bb07edc1160843f618acce9ebe216538ffefd.jpg",
		"url": "https://furry.engineer/@cascade"
	},
	"url": "https://furry.engineer/@cascade/112343126499001101",
	"published": "2024-04-27T12:14:29+00:00",
	"wm-received": "2024-04-27T15:31:51Z",
	"wm-id": 1816660,
	"wm-source": "https://brid.gy/comment/mastodon/@cascade@furry.engineer/112341493131178053/112343126499001101",
	"wm-target": "https://cascading.space/",
	"wm-protocol": "webmention",
	"content": {
		"html": "<p><span class=\"h-card\"><a href=\"https://furry.engineer/@brodokk\" class=\"u-url\">@<span>brodokk</span></a></span> Thanks! I’m kinda over the web looking like it’s the same theme everywhere, y’know?</p>",
		"text": "@brodokk Thanks! I’m kinda over the web looking like it’s the same theme everywhere, y’know?"
	},
	"in-reply-to": "https://cascading.space/",
	"wm-property": "in-reply-to",
	"wm-private": false
}
---