---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "lav ΘΔ",
		"photo": "https://avatars.webmention.io/furry.engineer/32ea4d839ef497cffb5ced02aa9422a605de93fd7447be4162f7da7f431f03ec.png",
		"url": "https://packmates.org/@leggylav"
	},
	"url": "https://furry.engineer/@cascade/112341493131178053#favorited-by-110964236733348514",
	"published": null,
	"wm-received": "2024-04-27T06:30:19Z",
	"wm-id": 1816487,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/112341493131178053/110964236733348514",
	"wm-target": "https://cascading.space/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/",
	"wm-property": "like-of",
	"wm-private": false
}
---