---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Chamomile ???? ➡️ FWA",
		"photo": "https://avatars.webmention.io/furry.engineer/9b9a77a45386424f09c1c08b09173d29d35ffd7c15d4a05931e9f5cc5b4e630e.jpg",
		"url": "https://furry.engineer/@chamomile"
	},
	"url": "https://furry.engineer/@chamomile/112341704028073184",
	"published": "2024-04-27T06:12:44+00:00",
	"wm-received": "2024-04-27T06:30:17Z",
	"wm-id": 1816485,
	"wm-source": "https://brid.gy/comment/mastodon/@cascade@furry.engineer/112341493131178053/112341704028073184",
	"wm-target": "https://cascading.space/",
	"wm-protocol": "webmention",
	"content": {
		"html": "<p><span class=\"h-card\"><a href=\"https://furry.engineer/@cascade\" class=\"u-url\">@<span>cascade</span></a></span> Seems like a good start; I love the design!</p>",
		"text": "@cascade Seems like a good start; I love the design!"
	},
	"in-reply-to": "https://cascading.space/",
	"wm-property": "in-reply-to",
	"wm-private": false
}
---