---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Cascade",
		"photo": "https://avatars.webmention.io/furry.engineer/5877ccc85cb0e8feb6580981f45bb07edc1160843f618acce9ebe216538ffefd.jpg",
		"url": "https://furry.engineer/@cascade"
	},
	"url": "https://furry.engineer/@cascade/112343118985037959",
	"published": "2024-04-27T12:12:35+00:00",
	"wm-received": "2024-04-27T15:31:50Z",
	"wm-id": 1816659,
	"wm-source": "https://brid.gy/comment/mastodon/@cascade@furry.engineer/112341493131178053/112343118985037959",
	"wm-target": "https://cascading.space/",
	"wm-protocol": "webmention",
	"content": {
		"html": "<p><span class=\"h-card\"><a href=\"https://furry.engineer/@chamomile\" class=\"u-url\">@<span>chamomile</span></a></span> Thanks! I enjoyed channeling my inner GeoCities again, it’s been too long</p>",
		"text": "@chamomile Thanks! I enjoyed channeling my inner GeoCities again, it’s been too long"
	},
	"in-reply-to": "https://cascading.space/",
	"wm-property": "in-reply-to",
	"wm-private": false
}
---