---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Stax the fox",
		"photo": "https://avatars.webmention.io/furry.engineer/d3b1e555515dfb561ceac59620f2485aea23e983ae5f2a0b1a84fb4be4d146c8.jpg",
		"url": "https://furry.engineer/@Stax"
	},
	"url": "https://furry.engineer/@cascade/112341493131178053#favorited-by-109353255129785992",
	"published": null,
	"wm-received": "2024-04-27T13:01:05Z",
	"wm-id": 1816614,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/112341493131178053/109353255129785992",
	"wm-target": "https://cascading.space/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/",
	"wm-property": "like-of",
	"wm-private": false
}
---