---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "brodokk",
		"photo": "https://avatars.webmention.io/furry.engineer/9c75600422c51c1b4e21424346f3c2b4f12c476a408c60ff42a918d13ecd9761.png",
		"url": "https://furry.engineer/@brodokk"
	},
	"url": "https://furry.engineer/@brodokk/112342966116799431",
	"published": "2024-04-27T11:33:42+00:00",
	"wm-received": "2024-04-27T11:59:29Z",
	"wm-id": 1816601,
	"wm-source": "https://brid.gy/comment/mastodon/@cascade@furry.engineer/112341493131178053/112342966116799431",
	"wm-target": "https://cascading.space/",
	"wm-protocol": "webmention",
	"content": {
		"html": "<p><span class=\"h-card\"><a href=\"https://furry.engineer/@cascade\" class=\"u-url\">@<span>cascade</span></a></span> oh this is a fancy design! nice :3</p>",
		"text": "@cascade oh this is a fancy design! nice :3"
	},
	"in-reply-to": "https://cascading.space/",
	"wm-property": "in-reply-to",
	"wm-private": false
}
---