---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Cascade",
		"photo": "https://avatars.webmention.io/furry.engineer/5877ccc85cb0e8feb6580981f45bb07edc1160843f618acce9ebe216538ffefd.jpg",
		"url": "https://furry.engineer/@cascade"
	},
	"url": "https://furry.engineer/@cascade/112344051503795273",
	"published": "2024-04-27T16:09:44+00:00",
	"wm-received": "2024-04-29T21:45:18Z",
	"wm-id": 1817424,
	"wm-source": "https://brid.gy/comment/mastodon/@cascade@furry.engineer/112341493131178053/112344051503795273",
	"wm-target": "https://cascading.space/",
	"wm-protocol": "webmention",
	"content": {
		"html": "<p><span class=\"h-card\"><a href=\"https://packmates.org/@leggylav\" class=\"u-url\">@<span>leggylav</span></a></span> totally, I haven’t had that kind of fun designing since the GeoCities era</p>",
		"text": "@leggylav totally, I haven’t had that kind of fun designing since the GeoCities era"
	},
	"in-reply-to": "https://cascading.space/",
	"wm-property": "in-reply-to",
	"wm-private": false
}
---