---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "sclera ????",
		"photo": "https://avatars.webmention.io/furry.engineer/aba752b74de015c4ffc6710724d780389cf35f52f49a9cac2386f5f3d763a17f.gif",
		"url": "https://pounced-on.me/@c__pnk"
	},
	"url": "https://furry.engineer/@cascade/112341493131178053#favorited-by-108236082275572003",
	"published": null,
	"wm-received": "2024-05-03T19:46:52Z",
	"wm-id": 1822830,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/112341493131178053/108236082275572003",
	"wm-target": "https://cascading.space/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/",
	"wm-property": "like-of",
	"wm-private": false
}
---