---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Foxarc",
		"photo": "https://avatars.webmention.io/furry.engineer/f6f3cd67b685643dff81ce274cd931ca18330842079d8b4d2d7686da4d930b79.png",
		"url": "https://furry.engineer/@Foxarc"
	},
	"url": "https://furry.engineer/@cascade/112889158455356754#favorited-by-112555180925605077",
	"published": null,
	"wm-received": "2024-08-02T04:40:44Z",
	"wm-id": 1841388,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/112889158455356754/112555180925605077",
	"wm-target": "https://cascading.space/proper-introductions-and-happy-blaugust/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/proper-introductions-and-happy-blaugust/",
	"wm-property": "like-of",
	"wm-private": false
}
---