---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Juhis",
		"photo": "https://avatars.webmention.io/furry.engineer/4681b01a570ac17b6a3f8ec557578ff027e45fe9d79e5af6b39145bcece82dda.jpg",
		"url": "https://mastodon.world/@hamatti"
	},
	"url": "https://furry.engineer/@cascade/112915762365176380#favorited-by-109484594128626132",
	"published": null,
	"wm-received": "2024-08-06T16:09:52Z",
	"wm-id": 1841806,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/112915762365176380/109484594128626132",
	"wm-target": "https://cascading.space/eleventy-lessons-learned/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/eleventy-lessons-learned/",
	"wm-property": "like-of",
	"wm-private": false
}
---