---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Bloguers.net ????",
		"photo": "https://avatars.webmention.io/cdn.bsky.app/467109177ba4fd6c032bc10d126fb5554f15a0af384eefd283de5f87c08b1dff.jpg",
		"url": "https://bsky.app/profile/bloguers.net"
	},
	"url": "https://bsky.app/profile/cascading.space/post/3kyqnut6vpk2w#liked_by_did:plc:tefnke5f2ym4pww43jboqx2o",
	"published": null,
	"wm-received": "2024-08-02T18:08:46Z",
	"wm-id": 1841430,
	"wm-source": "https://brid.gy/like/bluesky/did:plc:3xtmdc2v4kmv6tvzfgstjvum/at%253A%252F%252Fdid%253Aplc%253A3xtmdc2v4kmv6tvzfgstjvum%252Fapp.bsky.feed.post%252F3kyqnut6vpk2w/did%253Aplc%253Atefnke5f2ym4pww43jboqx2o",
	"wm-target": "https://cascading.space/its-headless/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/its-headless/",
	"wm-property": "like-of",
	"wm-private": false
}
---