---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "lav ΘΔ",
		"photo": "https://avatars.webmention.io/furry.engineer/2100e7d2e8a629bd7606e29a62c6667c644ce7eae987c25411f3cb4c0651a2c1.png",
		"url": "https://packmates.org/@leggylav"
	},
	"url": "https://packmates.org/@leggylav/112893557855239467",
	"published": "2024-08-02T17:16:25+00:00",
	"wm-received": "2024-08-02T17:31:28Z",
	"wm-id": 1841422,
	"wm-source": "https://brid.gy/comment/mastodon/@cascade@furry.engineer/112889158455356754/112893557900986039",
	"wm-target": "https://cascading.space/proper-introductions-and-happy-blaugust/",
	"wm-protocol": "webmention",
	"content": {
		"html": "<p><span class=\"h-card\"><a href=\"https://furry.engineer/@cascade\" class=\"u-url\">@<span>cascade</span></a></span> given my usual output, one a day is maybe impossible, but this is inspiration enough to at least write *something* again this month <img alt=\"neofox_googly_shocked\" src=\"https://furry.engineer/system/cache/custom_emojis/images/000/159/450/original/98feb1641139775f.png\" /></p>",
		"text": "@cascade given my usual output, one a day is maybe impossible, but this is inspiration enough to at least write *something* again this month"
	},
	"in-reply-to": "https://cascading.space/proper-introductions-and-happy-blaugust/",
	"wm-property": "in-reply-to",
	"wm-private": false
}
---