---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "nytpu",
		"photo": "https://avatars.webmention.io/furry.engineer/1b5b78ec9123036bc812d8173438c7251caf058cdc08bc7ac373cfebbeacb43b.png",
		"url": "https://tilde.zone/@nytpu"
	},
	"url": "https://furry.engineer/@cascade/112929622354729349#favorited-by-108280983662451826",
	"published": null,
	"wm-received": "2024-08-09T02:58:12Z",
	"wm-id": 1842401,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/112929622354729349/108280983662451826",
	"wm-target": "https://cascading.space/about/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/about/",
	"wm-property": "like-of",
	"wm-private": false
}
---