---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Dizbdeedee",
		"photo": "https://avatars.webmention.io/furry.engineer/183acef82de98ab317ea0cd1f689a3ecdceea3a1d10dd9edc391f260e65f4e74.png",
		"url": "https://furry.engineer/@Dizbdeedee"
	},
	"url": "https://furry.engineer/@cascade/112941804775489050#favorited-by-109858521713748266",
	"published": null,
	"wm-received": "2024-08-11T08:58:39Z",
	"wm-id": 1842756,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/112941804775489050/109858521713748266",
	"wm-target": "https://cascading.space/making-a-comment-system-with-eleventy-and-netlify/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/making-a-comment-system-with-eleventy-and-netlify/",
	"wm-property": "like-of",
	"wm-private": false
}
---