---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "lav ΘΔ",
		"photo": "https://avatars.webmention.io/furry.engineer/2100e7d2e8a629bd7606e29a62c6667c644ce7eae987c25411f3cb4c0651a2c1.png",
		"url": "https://packmates.org/@leggylav"
	},
	"url": "https://furry.engineer/@cascade/112929622354729349#favorited-by-110964236733348514",
	"published": null,
	"wm-received": "2024-08-09T02:24:56Z",
	"wm-id": 1842400,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/112929622354729349/110964236733348514",
	"wm-target": "https://cascading.space/about/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/about/",
	"wm-property": "like-of",
	"wm-private": false
}
---