---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Macxi: ????????",
		"photo": "https://avatars.webmention.io/cdn.bsky.app/f0e430cc7bc299bb2dd32e9ea2689bc1b5a00fcdda0e47f899941b6cbc46f74f.jpg",
		"url": "https://bsky.app/profile/macxi.bsky.social"
	},
	"url": "https://bsky.app/profile/cascading.space/post/3kzgbnfjv5k2o#liked_by_did:plc:vey3jayrphb62a4vc26lw4bn",
	"published": null,
	"wm-received": "2024-08-11T07:52:38Z",
	"wm-id": 1842755,
	"wm-source": "https://brid.gy/like/bluesky/did:plc:3xtmdc2v4kmv6tvzfgstjvum/at%253A%252F%252Fdid%253Aplc%253A3xtmdc2v4kmv6tvzfgstjvum%252Fapp.bsky.feed.post%252F3kzgbnfjv5k2o/did%253Aplc%253Avey3jayrphb62a4vc26lw4bn",
	"wm-target": "https://cascading.space/making-a-comment-system-with-eleventy-and-netlify/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/making-a-comment-system-with-eleventy-and-netlify/",
	"wm-property": "like-of",
	"wm-private": false
}
---