---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "vanjmali",
		"photo": "https://avatars.webmention.io/furry.engineer/7c03993e6990df9e03773fb236dc080f57bcb34b3897de317946573a93b3c02f.png",
		"url": "https://furry.engineer/@vanjmali"
	},
	"url": "https://furry.engineer/@cascade/112941804775489050#favorited-by-110786920726698757",
	"published": null,
	"wm-received": "2024-08-11T12:13:46Z",
	"wm-id": 1842772,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/112941804775489050/110786920726698757",
	"wm-target": "https://cascading.space/making-a-comment-system-with-eleventy-and-netlify/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/making-a-comment-system-with-eleventy-and-netlify/",
	"wm-property": "like-of",
	"wm-private": false
}
---