---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Foxarc",
		"photo": "https://avatars.webmention.io/furry.engineer/23b4048782837cf5616c949a251b3982083519051a35a89b198e35ac46cebd39.png",
		"url": "https://furry.engineer/@Foxarc"
	},
	"url": "https://furry.engineer/@cascade/112941804775489050#favorited-by-112555180925605077",
	"published": null,
	"wm-received": "2024-08-11T14:20:18Z",
	"wm-id": 1842783,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/112941804775489050/112555180925605077",
	"wm-target": "https://cascading.space/making-a-comment-system-with-eleventy-and-netlify/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/making-a-comment-system-with-eleventy-and-netlify/",
	"wm-property": "like-of",
	"wm-private": false
}
---