---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Lyra Ardens",
		"photo": "https://avatars.webmention.io/cdn.bsky.app/20fa0b2f548c413c99ebf97b20a7a5d2ea5d477bb65ea5e51954164ebc9dc0fd.jpg",
		"url": "https://bsky.app/profile/lyraardens.bsky.social"
	},
	"url": "https://bsky.app/profile/cascading.space/post/3kzgbnfjv5k2o#liked_by_did:plc:5g37u6sdczir7rh2ovfe5qs5",
	"published": null,
	"wm-received": "2024-08-11T12:25:07Z",
	"wm-id": 1842775,
	"wm-source": "https://brid.gy/like/bluesky/did:plc:3xtmdc2v4kmv6tvzfgstjvum/at%253A%252F%252Fdid%253Aplc%253A3xtmdc2v4kmv6tvzfgstjvum%252Fapp.bsky.feed.post%252F3kzgbnfjv5k2o/did%253Aplc%253A5g37u6sdczir7rh2ovfe5qs5",
	"wm-target": "https://cascading.space/making-a-comment-system-with-eleventy-and-netlify/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/making-a-comment-system-with-eleventy-and-netlify/",
	"wm-property": "like-of",
	"wm-private": false
}
---