---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Luissen",
		"photo": "https://avatars.webmention.io/furry.engineer/7c4e0d0797bb09db99eb9405415cdce76d538bb8746a47ee95be5c8595ca68b1.png",
		"url": "https://furry.engineer/@Luissen"
	},
	"url": "https://furry.engineer/@cascade/113012410710442681#favorited-by-109300364411507799",
	"published": null,
	"wm-received": "2024-08-23T17:52:54Z",
	"wm-id": 1844253,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/113012410710442681/109300364411507799",
	"wm-target": "https://cascading.space/what-if-webrings-but-static-hosting/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/what-if-webrings-but-static-hosting/",
	"wm-property": "like-of",
	"wm-private": false
}
---