---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "挧日 | Yuril",
		"photo": "https://avatars.webmention.io/furry.engineer/32223ae6360a74561c66520d462d5b69ac5bb25783f7377bc5b7b3e11dad27f1.png",
		"url": "https://furry.engineer/@yuril"
	},
	"url": "https://furry.engineer/@cascade/113012410710442681#favorited-by-109333923601147723",
	"published": null,
	"wm-received": "2024-08-23T17:52:53Z",
	"wm-id": 1844252,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/113012410710442681/109333923601147723",
	"wm-target": "https://cascading.space/what-if-webrings-but-static-hosting/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/what-if-webrings-but-static-hosting/",
	"wm-property": "like-of",
	"wm-private": false
}
---