---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Foxis The Cookie Dragon",
		"photo": "https://avatars.webmention.io/furry.engineer/e6728144ff868e413a7cc830cefbae0b69581b650086fd43c3a8637d06c22575.png",
		"url": "https://social.foxis.dev/@foxis"
	},
	"url": "https://furry.engineer/@cascade/113049207546912796#favorited-by-110602500805638905",
	"published": null,
	"wm-received": "2024-08-30T05:29:39Z",
	"wm-id": 1845168,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/113049207546912796/110602500805638905",
	"wm-target": "https://cascading.space/time-tracking/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/time-tracking/",
	"wm-property": "like-of",
	"wm-private": false
}
---