---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "kadei ????",
		"photo": "https://avatars.webmention.io/furry.engineer/3685fad28791c66b8a4355a47bc2e11327019f46a7e99ae4197b1d3332b7c3b6.png",
		"url": "https://furry.engineer/@kadei"
	},
	"url": "https://furry.engineer/@cascade/113060651415915834#favorited-by-109324842329877663",
	"published": null,
	"wm-received": "2024-09-01T10:21:48Z",
	"wm-id": 1845438,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/113060651415915834/109324842329877663",
	"wm-target": "https://cascading.space/the-legend-of-playing-all-the-zeldas/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/the-legend-of-playing-all-the-zeldas/",
	"wm-property": "like-of",
	"wm-private": false
}
---