---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Foxis The Cookie Dragon",
		"photo": "https://avatars.webmention.io/furry.engineer/e6728144ff868e413a7cc830cefbae0b69581b650086fd43c3a8637d06c22575.png",
		"url": "https://social.foxis.dev/@foxis"
	},
	"url": "https://furry.engineer/@cascade/113060651415915834#favorited-by-110602500805638905",
	"published": null,
	"wm-received": "2024-09-01T20:33:08Z",
	"wm-id": 1845486,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/113060651415915834/110602500805638905",
	"wm-target": "https://cascading.space/the-legend-of-playing-all-the-zeldas/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/the-legend-of-playing-all-the-zeldas/",
	"wm-property": "like-of",
	"wm-private": false
}
---