---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Dizbdeedee",
		"photo": "https://avatars.webmention.io/furry.engineer/183acef82de98ab317ea0cd1f689a3ecdceea3a1d10dd9edc391f260e65f4e74.png",
		"url": "https://furry.engineer/@Dizbdeedee"
	},
	"url": "https://furry.engineer/@cascade/113049207546912796#favorited-by-109858521713748266",
	"published": null,
	"wm-received": "2024-08-30T16:04:20Z",
	"wm-id": 1845214,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/113049207546912796/109858521713748266",
	"wm-target": "https://cascading.space/time-tracking/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/time-tracking/",
	"wm-property": "like-of",
	"wm-private": false
}
---