---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Fenny :blobfoxcheck:",
		"photo": "https://avatars.webmention.io/furry.engineer/6bc67a0da2fd1adda2b01bedc3bd7fa92c88c9887893dbb41ad92b4a1a5a777c.png",
		"url": "https://furry.engineer/@fenny"
	},
	"url": "https://furry.engineer/@cascade/113176438153598424#favorited-by-109700551940647635",
	"published": null,
	"wm-received": "2024-09-21T20:27:55Z",
	"wm-id": 1848557,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/113176438153598424/109700551940647635",
	"wm-target": "https://cascading.space/background-clipping/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/background-clipping/",
	"wm-property": "like-of",
	"wm-private": false
}
---