---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Oddie, team stardust!",
		"photo": "https://avatars.webmention.io/cdn.bsky.app/f66887afb172b9e0444933c62d91d394f56cf6e815a23355aec6dd4a39f8a67c.jpg",
		"url": "https://bsky.app/profile/oddiebun.bsky.social"
	},
	"url": "https://bsky.app/profile/cascading.space/post/3l4mpphxlmm2g#liked_by_did:plc:srjzvcyzakrv57ilgghpxivm",
	"published": null,
	"wm-received": "2024-09-21T11:13:28Z",
	"wm-id": 1848536,
	"wm-source": "https://brid.gy/like/bluesky/did:plc:3xtmdc2v4kmv6tvzfgstjvum/at%253A%252F%252Fdid%253Aplc%253A3xtmdc2v4kmv6tvzfgstjvum%252Fapp.bsky.feed.post%252F3l4mpphxlmm2g/did%253Aplc%253Asrjzvcyzakrv57ilgghpxivm",
	"wm-target": "https://cascading.space/background-clipping/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/background-clipping/",
	"wm-property": "like-of",
	"wm-private": false
}
---