---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Cliff the Mountain Fury",
		"photo": "https://avatars.webmention.io/cdn.bsky.app/96b32358c348c147ac78c7e286475fb269ba87582dbb4fc0a1ffa5ee0efa89de.jpg",
		"url": "https://bsky.app/profile/notabannana.bsky.social"
	},
	"url": "https://bsky.app/profile/cascading.space/post/3l4mpphxlmm2g#liked_by_did:plc:7eqfnsdd7wsf274kmvinmrcr",
	"published": null,
	"wm-received": "2024-09-23T16:36:11Z",
	"wm-id": 1848769,
	"wm-source": "https://brid.gy/like/bluesky/did:plc:3xtmdc2v4kmv6tvzfgstjvum/at%253A%252F%252Fdid%253Aplc%253A3xtmdc2v4kmv6tvzfgstjvum%252Fapp.bsky.feed.post%252F3l4mpphxlmm2g/did%253Aplc%253A7eqfnsdd7wsf274kmvinmrcr",
	"wm-target": "https://cascading.space/background-clipping/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/background-clipping/",
	"wm-property": "like-of",
	"wm-private": false
}
---