---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Korr ???? WPAFW",
		"photo": "https://avatars.webmention.io/cdn.bsky.app/f618f3141d4afbc28d89da4c4248be4be112d0c84d9cedb60a1f9c821d167d92.jpg",
		"url": "https://bsky.app/profile/korrfur.com"
	},
	"url": "https://bsky.app/profile/cascading.space/post/3l5ftgwm65k2p#liked_by_did:plc:ulopuxehebb2lu3utgpzlfje",
	"published": null,
	"wm-received": "2024-10-01T03:11:06Z",
	"wm-id": 1849930,
	"wm-source": "https://brid.gy/like/bluesky/did:plc:3xtmdc2v4kmv6tvzfgstjvum/at%253A%252F%252Fdid%253Aplc%253A3xtmdc2v4kmv6tvzfgstjvum%252Fapp.bsky.feed.post%252F3l5ftgwm65k2p/did%253Aplc%253Aulopuxehebb2lu3utgpzlfje",
	"wm-target": "https://cascading.space/the-deal-with-wordpress/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/the-deal-with-wordpress/",
	"wm-property": "like-of",
	"wm-private": false
}
---