---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "LiquidParasyte",
		"photo": "https://avatars.webmention.io/furry.engineer/3db01039a6349b4bb48b194b9cc8102c9e256b655f49e60648045df1de0a38ba.jpg",
		"url": "https://pawb.fun/@LiquidParasyte"
	},
	"url": "https://furry.engineer/@cascade/113250560567152078#favorited-by-110795445648947165",
	"published": null,
	"wm-received": "2024-10-05T21:56:49Z",
	"wm-id": 1850761,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/113250560567152078/110795445648947165",
	"wm-target": "https://cascading.space/the-deal-with-wordpress/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/the-deal-with-wordpress/",
	"wm-property": "like-of",
	"wm-private": false
}
---