---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Luissen",
		"photo": "https://avatars.webmention.io/furry.engineer/7c4e0d0797bb09db99eb9405415cdce76d538bb8746a47ee95be5c8595ca68b1.png",
		"url": "https://furry.engineer/@Luissen"
	},
	"url": "https://furry.engineer/@cascade/113284105369158905#favorited-by-109300364411507799",
	"published": null,
	"wm-received": "2024-10-10T20:44:52Z",
	"wm-id": 1851385,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/113284105369158905/109300364411507799",
	"wm-target": "https://cascading.space/gender-journey/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/gender-journey/",
	"wm-property": "like-of",
	"wm-private": false
}
---