---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "vanjmali",
		"photo": "https://avatars.webmention.io/furry.engineer/7c03993e6990df9e03773fb236dc080f57bcb34b3897de317946573a93b3c02f.png",
		"url": "https://furry.engineer/@vanjmali"
	},
	"url": "https://furry.engineer/@cascade/113279683300738850#favorited-by-110786920726698757",
	"published": null,
	"wm-received": "2024-10-09T22:23:06Z",
	"wm-id": 1851274,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/113279683300738850/110786920726698757",
	"wm-target": "https://cascading.space/the-deal-with-wordpress/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/the-deal-with-wordpress/",
	"wm-property": "like-of",
	"wm-private": false
}
---