---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Ntos Fops",
		"photo": "https://avatars.webmention.io/furry.engineer/dd0b805641354384139504cf2ea502674654c9a0fa14598d55088a65679f0325.png",
		"url": "https://furry.engineer/@ntoskrnl"
	},
	"url": "https://furry.engineer/@cascade/113279932068361962#favorited-by-109537086661171698",
	"published": null,
	"wm-received": "2024-10-10T02:29:30Z",
	"wm-id": 1851310,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/113279932068361962/109537086661171698",
	"wm-target": "https://cascading.space/bye-bye-wordpress/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/bye-bye-wordpress/",
	"wm-property": "like-of",
	"wm-private": false
}
---