---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Cascade",
		"photo": "https://avatars.webmention.io/furry.engineer/956eeec68b1d91286e4e23bd77edf3dfab20480efb813e191f151928178552c0.png",
		"url": "https://furry.engineer/@cascade"
	},
	"url": "https://furry.engineer/@cascade/113284105369158905#reblogged-by-112316312657649269",
	"published": null,
	"wm-received": "2024-10-11T20:11:28Z",
	"wm-id": 1851525,
	"wm-source": "https://brid.gy/repost/mastodon/@cascade@furry.engineer/113284105369158905/112316312657649269",
	"wm-target": "https://cascading.space/gender-journey/",
	"wm-protocol": "webmention",
	"repost-of": "https://cascading.space/gender-journey/",
	"wm-property": "repost-of",
	"wm-private": false
}
---