---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Squeakable",
		"photo": "https://avatars.webmention.io/furry.engineer/0fdff36be08b7260164b31eab5391f086052d6e108301adfcfc554e8ec624a2c.png",
		"url": "https://furry.engineer/@squeakable"
	},
	"url": "https://furry.engineer/@cascade/113279683300738850#favorited-by-112887377556477032",
	"published": null,
	"wm-received": "2024-10-09T22:56:04Z",
	"wm-id": 1851283,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/113279683300738850/112887377556477032",
	"wm-target": "https://cascading.space/the-deal-with-wordpress/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/the-deal-with-wordpress/",
	"wm-property": "like-of",
	"wm-private": false
}
---