---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Mx. Eddie R",
		"photo": "https://avatars.webmention.io/furry.engineer/f7695b5a8fe9c57ec92d8914f5e5134420d6177457ff3be1448adc3f7024e82b.jpg",
		"url": "https://wandering.shop/@silvermoon82"
	},
	"url": "https://furry.engineer/@cascade/113284105369158905#favorited-by-113198761706127223",
	"published": null,
	"wm-received": "2024-10-10T16:48:38Z",
	"wm-id": 1851365,
	"wm-source": "https://brid.gy/like/mastodon/@cascade@furry.engineer/113284105369158905/113198761706127223",
	"wm-target": "https://cascading.space/gender-journey/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/gender-journey/",
	"wm-property": "like-of",
	"wm-private": false
}
---