---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "Iha",
		"photo": "https://avatars.webmention.io/cdn.bsky.app/11f11c1ec254597af6f82675251117cc7b20b075feeb02c6545a8f3090374666.jpg",
		"url": "https://bsky.app/profile/ihatheprotogen.bsky.social"
	},
	"url": "https://bsky.app/profile/cascading.space/post/3l6rcwi5wnl2x#liked_by_did:plc:cyu2rxfeyny2kzwpxlshqy2y",
	"published": null,
	"wm-received": "2024-10-18T11:45:13Z",
	"wm-id": 1852530,
	"wm-source": "https://brid.gy/like/bluesky/did:plc:3xtmdc2v4kmv6tvzfgstjvum/at%253A%252F%252Fdid%253Aplc%253A3xtmdc2v4kmv6tvzfgstjvum%252Fapp.bsky.feed.post%252F3l6rcwi5wnl2x/did%253Aplc%253Acyu2rxfeyny2kzwpxlshqy2y",
	"wm-target": "https://cascading.space/about/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/about/",
	"wm-property": "like-of",
	"wm-private": false
}
---