---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "StudiosNathan",
		"photo": "https://avatars.webmention.io/cdn.bsky.app/6c8217c59846e93d0dc7b67a703839f7d06b5b884306ac7f0cd0d05c0a0e8c51.jpg",
		"url": "https://bsky.app/profile/studiosnathan.bsky.social"
	},
	"url": "https://bsky.app/profile/studiosnathan.bsky.social/post/3lnohyy3myk2x",
	"published": "2025-04-26T00:25:44+00:00",
	"wm-received": "2025-04-26T23:55:50Z",
	"wm-id": 1907535,
	"wm-source": "https://brid.gy/comment/bluesky/did:plc:3xtmdc2v4kmv6tvzfgstjvum/at%253A%252F%252Fdid%253Aplc%253A3xtmdc2v4kmv6tvzfgstjvum%252Fapp.bsky.feed.post%252F3lno7a53jlk2e/at%253A%252F%252Fdid%253Aplc%253Arh4k2miprea7kafkely4fg6i%252Fapp.bsky.feed.post%252F3lnohyy3myk2x",
	"wm-target": "https://cascading.space/",
	"wm-protocol": "webmention",
	"content": {
		"text": "I really need to work on mine..."
	},
	"in-reply-to": "https://cascading.space/",
	"wm-property": "in-reply-to",
	"wm-private": false
}
---