---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "StudiosNathan",
		"photo": "https://avatars.webmention.io/cdn.bsky.app/6c8217c59846e93d0dc7b67a703839f7d06b5b884306ac7f0cd0d05c0a0e8c51.jpg",
		"url": "https://bsky.app/profile/studiosnathan.bsky.social"
	},
	"url": "https://bsky.app/profile/cascading.space/post/3looyojguk22e#liked_by_did:plc:rh4k2miprea7kafkely4fg6i",
	"published": null,
	"wm-received": "2025-05-09T04:45:24Z",
	"wm-id": 1910110,
	"wm-source": "https://brid.gy/like/bluesky/did:plc:3xtmdc2v4kmv6tvzfgstjvum/at%253A%252F%252Fdid%253Aplc%253A3xtmdc2v4kmv6tvzfgstjvum%252Fapp.bsky.feed.post%252F3looyojguk22e/did%253Aplc%253Arh4k2miprea7kafkely4fg6i",
	"wm-target": "https://cascading.space/moving-in-with-bear/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/moving-in-with-bear/",
	"wm-property": "like-of",
	"wm-private": false
}
---