---js
{
	"type": "entry",
	"author": {
		"type": "card",
		"name": "SP1D3R",
		"photo": "https://avatars.webmention.io/cdn.bsky.app/af0a6163a736a7347be2f7551dfa9bdae050eb1ad71451ee188da3d09781f024.jpg",
		"url": "https://bsky.app/profile/lazyspiderz.bsky.social"
	},
	"url": "https://bsky.app/profile/cascading.space/post/3looyojguk22e#liked_by_did:plc:k67h54v3sp6l3e5yfm5bsacl",
	"published": null,
	"wm-received": "2025-05-09T00:28:26Z",
	"wm-id": 1910103,
	"wm-source": "https://brid.gy/like/bluesky/did:plc:3xtmdc2v4kmv6tvzfgstjvum/at%253A%252F%252Fdid%253Aplc%253A3xtmdc2v4kmv6tvzfgstjvum%252Fapp.bsky.feed.post%252F3looyojguk22e/did%253Aplc%253Ak67h54v3sp6l3e5yfm5bsacl",
	"wm-target": "https://cascading.space/moving-in-with-bear/",
	"wm-protocol": "webmention",
	"like-of": "https://cascading.space/moving-in-with-bear/",
	"wm-property": "like-of",
	"wm-private": false
}
---